body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
.parallax{
  position:static;
}
.parallax img {
  width: 101%;
}
p {
  text-align: justify;
}

.main-header {
  color: #B8383B;
}
@media only screen and (max-width: 600px) {
  .parallax-container {
      height: 150px;
      
  }
  .carousel{ height: 260px !important;}
  #explaingame, #showmap {display: none;}
  #first-image {
    background: url("../img/up.jpg");
    background-size: 100% 100%;
  }
}
@media only screen and (max-width: 1081px) {
  .parallax-container {
      height: 300px;
  }
}
#first-image {
  background: url("../img/up.jpg");
  background-size: 100% 100%;
}
#second-image {
  background: url("../img/hightower.png");
  background-size: 100% 100%;
}
#third-image {
  background: url("../img/process.jpeg");
  background-size: 100% 100%;
}
#fourth-image {
  background: url("../img/harvest.jpg");
  background-size: 100% 100%;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}