body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
#peko {
    border-radius: 100%;
    border: white solid 3px;
    width: 30%;
}
.parallax{
  position:static;
}
.parallax img {
  width: 101%;
}

#main-header {
  color: #B8383B;
}
@media only screen and (max-width: 600px) {
  .parallax-container {
      height: 150px;
  }
}
@media only screen and (max-width: 1081px) {
  .parallax-container {
      height: 300px;
  }
}
#first-image {
  background: url("../img/up.jpg");
  background-size: 100% auto;
}
#second-image {
  background: url("../img/barnblitz.jpg");
  background-size: cover;
}
#third-image {
  background: url("../img/process.jpeg");
  background-size: cover;
}
#fourth-image {
  background: url("../img/harvest.jpg");
  background-size: cover;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}