body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
#peko {
    border-radius: 100%;
    border: white solid 3px;
    width: 30%;
}
.parallax{
  position:static;
}
.parallax img {
  width: 101%;
}

#main-header {
  color: #B8383B;
}
@media only screen and (max-width: 600px) {
  .parallax-container {
      height: 150px;
  }
}
@media only screen and (max-width: 1024px) {
  .parallax-container {
      height: 300px;
  }
}