#meme {
    background-color: rgb(200,255,255);
    width: 100px;
    height: 100px;
}
* {
    text-align: center;
    margin-left: auto; margin-right: auto;
}
#debug {
    width: 100%;
    height: 10%;
    background-color: #f9f9f9;
    margin-top: 40%;
}
input {
    background-color: rgb(255,60,60);
}