/* Basic global styling */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}
.parallax{
  position:static;
}
.parallax img {
  width: 110%;
}
p {
  text-align: justify;
}
.main-header {
  color: #B8383B;
}
/* Responsive media queries */
/* mobile gallery */
@media only screen and (max-width: 650px) {
  #i1 {
    background: url('../img/up.jpg');
    background-size: 100% 66%;
  }
  #i2 {
    background: url('../img/hightower.png');
    background-size: 100% 66%;
  }
  #i3 {
    background: url("../img/process.jpeg");
    background-size: 100% 66%;
  }
  #i4 {
    background: url("../img/harvest.jpg");
    background-size: 100% 66%;
  }
  #i5 {
    background: url("../img/mvm-coaltown.png");
    background-size: 100% 66%;
  }
  #i6 {
    background: url("../img/doomsday.jpg");
    background-size: 100% 66%;
  }
  .carousel{ 
    height: 260px !important;
  }
}
/* mobile parallax sizing */
@media only screen and (max-width: 500px) {
  /* adjusts size of parallax div */
  .parallax-container {
      height: 240px;
  }
  /* adjusts the parallaxed img so it looks nice */
  .parallax img {
    height: 120%;
  }
}
@media only screen and (min-width: 501px) {
  /* adjusts size of parallax div */
  .parallax-container {
    height: 240px;
  }
  /* adjusts the parallaxed img so it looks nice */
  .parallax img {
    height: 140%;
  }
}
@media only screen and (min-width: 701px) {
  /* adjusts size of parallax div */
  .parallax-container {
    height: 340px;
  }
  /* adjusts the parallaxed img so it looks nice */
  .parallax img {
    height: 120%;
  }
}
@media only screen and (min-width: 801px) {
  /* adjusts size of parallax div */
  .parallax-container {
    height: 340px;
  }
  /* adjusts the parallaxed img so it looks nice */
  .parallax img {
    height: 160%;
  }
}
@media only screen and (min-width: 1001px) {
  /* adjusts size of parallax div */
  .parallax-container {
    height: 400px;
  }
  /* adjusts the parallaxed img so it looks nice */
  .parallax img {
    height: 160%;
    width: 105%;
  }
}
/* large screen gallery */
@media only screen and (min-width: 651px) {
  #i1 {
    background: url("../img/up.jpg");
    background-size: 100% 100%;
  }
  #i2 {
    background: url("../img/hightower.png");
    background-size: 100% 100%;
  }
  #i3 {
    background: url("../img/process.jpeg");
    background-size: 100% 100%;
  }
  #i4 {
    background: url("../img/harvest.jpg");
    background-size: 100% 100%;
  }
  #i5 {
    background: url("../img/mvm-coaltown.png");
    background-size: 100% 100%;
  }
  #i6 {
    background: url("../img/doomsday.jpg");
    background-size: 100% 100%;
  }
}
/* contact info for mobile in sidebar */
#contact {
  position: absolute;
  bottom: 0;
  margin-bottom: 20%;
  width: 100%;
}
/* header profile pic icon animation */
.darken-icon {
  transition: all 0.2s ease;
}
.darken-icon:hover {
  color: #333;
}
/* useful classes */
.bold {
  font-weight: bold;
}
.italic {
  font-style: italic;
}
/* disable selecting images, makes the page look nicer in case someone does ctrl+a */
img {
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}