fieldset {
    position: absolute;
    visibility: hidden;
    margin-left: 40%;    
    padding: 0.5em;
    border: 0.3px solid #333;
    width: 270px;
}
legend {
    font-size: 1.7rem;
    text-align: center;
}
#f6 legend {
    font-size: 1.4rem;
}
#f1 {
    visibility: visible;
}
/* to align the final question's input */
#r6 {
    margin-left: 14px;
}
h1,h3 {
    margin: 0;
    text-align: left;
    font-family: 'Segoe UI', sans-serif;
    font-weight: normal;
}
h1 {
    margin-left: 40%;
}
/* Current question (top right) */
h3 {
    margin-top: -25px;
    float: right;
    background: #333;
    color: #f9f9f9;
    padding: 0.2em 0.2em 0em 0.2em;
}
/* Next question button */
#next {
    background-color: rgb(32, 123, 192);
    color: #f9f9f9;
    position: absolute;
    margin-top: 18%;
    margin-left: 40%;
    height: 100px;
    width: 200px;
    transition: 0.2s ease;
    font-size: 1.1rem;
}
#next:hover {
    background-color: rgb(45, 235, 83);
    color: #0c0c0c;
    font-size: 1.5rem;
}
/* Q2, small text */
p#mult {
    margin: 10px 0px 0px 0px;
    color: #555;
    font-size: 0.75em;
}
/* Score */
#content {
    position: absolute;
    margin-left: 20px;
}
#content2 {
    margin-top: 10%;
    margin-left: 20px;
    position: absolute;
}
p {
    font-size: 2rem;
    margin: -0.2rem 0 -0.2rem 0;
}
.dc {
    width: 50px;
    height: 50px;
    display: inline-flex;
    margin-right: -5px;
    border: 3px solid black;
}
div.color1 {
    width: 80px;
    height: 100px;
    display: inline-flex;
    transition: 0.2s ease-out;
    border: 0px solid #f9f9f9;
}
div.color1:hover {
    border: 4px solid #f9f9f9;
    cursor: pointer;

}
/* score for mobile users, hidden on desktops */
div#mob-score {
    display: hidden;
}
@media (max-width:860px) {
    h1 {
        margin-left: 35%;
        text-align:left;
    }
    fieldset {
        margin-left: 35%;
        margin-top: 30%;
    }
    h3 {
        margin-top: 5%;
        position: absolute;
        margin-left: 35%; 
        font-size: 1.3rem;  
   }
   #content {
       margin-left: 35%;
       margin-top: 5%;
   }
   #content2 {
       margin-top: 17%;
       margin-left: 35%;
       position: absolute;
   }
   #next {
       margin-left: 35%;
       margin-top: 50%;
   }
   #next:active {
    background-color: rgb(45, 235, 83);
    color: #0c0c0c;
    font-size: 1.5rem;
}
}
@media (max-width:670px) {
    h1 {
        margin-left: 20%;
        text-align:left;
    }
    fieldset {
        margin-left: 20%;
        margin-top: 35%;
    }
    h3 {
        margin-top: 5%;
        position: absolute;
        margin-left: 20%; 
        font-size: 1.3rem;  
   }
   #content {
       margin-left: 20%;
       margin-top: 5%;
   }
   #content2 {
    margin-top: 20%;
    margin-left: 20%;
    }
   #next {
       margin-left: 20%;
       margin-top: 65%;
   }
   #next:active {
    background-color: rgb(45, 235, 83);
    color: #0c0c0c;
    font-size: 1.5rem;
}

}
@media (max-width:520px) {
    h1 {
        margin-left: 20%;
        text-align:left;
    }
    fieldset {
        margin-left: 20%;
        margin-top: 45%;
    }
    h3 {
        margin-top: 5%;
        position: absolute;
        margin-left: 20%; 
        font-size: 1.3rem;  
   }
   #content {
       margin-left: 20%;
       margin-top: 5%;
   }
   #content2 {
    margin-top: 25%;
    margin-left: 20%;
    position: absolute;
    }
   #next {
       margin-left: 20%;
       margin-top: 75%;
   }
   #next:active {
    background-color: rgb(45, 235, 83);
    color: #0c0c0c;
    font-size: 1.5rem;
}

}