body {
    margin: 0;
    font-family: sans-serif;
}
header {
    background-color: orange;
    height: 7vh;
    font-size: 2em;
}
#a {background-color: yellow; height: 15vh;}
#b {background-color: orange; height: 5vh;}
#c {background-color: red; height: 10vh; margin-top: 2vh;}
#d {background-color: lime; height: 10vh; margin-top: 2vh;}

.moj {
    padding-top: 50px;
}
/* nejake !important picoviny; inline veci riesit; ktore sa ma kedy vypnita */