body {
    background-color: white;
}
#output {
    border: 4px solid black;
    width: 500px;
    height: 100px;
    color: #333;
    font-size: 3em;s
}
img {
    width: 500px;
    height: 400px
}
img:hover {
    border: 25px solid red;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}
* {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}